/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Section Styles */
#features {
  background: #fff;
}

.box-item {
  box-shadow: 0 0 12px #f4f4f4;
  padding: 15px;
  margin: 30px 0;
  border-radius: 3px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
}

.icon {
  margin: 12px;
}

.icon i {
  color: #008de2;
  font-size: 30px;
  transition: color 0.2s linear;
}

.text h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #333;
  transition: color 0.2s linear;
}

.text p {
  font-size: 14px;
  line-height: 22px;
}

.box-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

.box-item:hover h4 {
  color: #008de2;
}

.show-box {
  margin-top: 50px;
  text-align: center;
}

.show-box iframe {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 480px;
  border: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-lg-4 {
    width: 100%;
    max-width: 400px;
  }

  .content-left,
  .content-right {
    text-align: center;
  }
}
